<div class="navbar">
    <ul class="navbar-list-wrapper">
        <li>
            <p (click) = "updateUrl(['/'])" [ngStyle] = "{'text-decoration': getPage() == '/' ? 'underline' : 'none'}">HOME</p>
        </li>
        <li>
            <p (click) = "updateUrl(['/','pricing'])" [ngStyle] = "{'text-decoration': getPage() == 'pricing' ? 'underline' : 'none'}">PRICING</p>
        </li>
        <li>
            <a href="" >WORK</a>
        </li>
    </ul>
    <div class="navbar-title">
        <h1>ANDREW SCOTT</h1>
        <h1>PHOTOGRAPHY</h1>
    </div>
    <ul class="navbar-links">
            <li>
            <a href="https://www.facebook.com/Andrew.Scott.Photography.24" target="_blank" rel="noopener noreferrer">
                <img src = "../../assets/images/logos/facebook-logo.png">
            </a>
            </li>
            <li>
            <a href="https://www.instagram.com/andrew_scott_photography" target="_blank">
                <img src = "../../assets/images/logos/instagram-logo.png">
            </a>
            </li>
            <li>
            <a href="mailto:amcgarvie@outlook.com">
                <img src = "../../assets/images/logos/email-logo.png">
            </a>
            </li>
    </ul>
</div>
