<app-navbar></app-navbar>
<div class="pricing">
    <div>
        <h2>Pricing</h2>
        <p>I can work with you to create a photography plan that suits your vision and your wallet.</p>
    </div>

    <div class="pricing-photoshoot-tile">
        <h3>Portrait Sessions</h3>
        <p>Portrait photography is a big part of what I do. Whether they are senior photos, or just to commemorate the moment, I have affordable photoshoot options to fit your needs.</p>
        <div>
            <div>
                <h4>Mini Session</h4>
                <p>$150</p>
                <img src="assets/images/home-images/funny-cat.jpg" alt="">
                <p>Ideal for quick updates or headshots. Includes 30 minutes - 1 hour of shooting time. Minimum of 10 high resolution edited photos.</p>
            </div>
            <!-- <div>
                <h4>Standard Session</h4>
                <p>$250</p>
                <img src="assets/images/home-images/funny-cat.jpg" alt="">
                <p>Great for family photos or senior pictures. Includes 1-2 hours of shooting time. Minimum of 20 high resolution edited photos.</p>
            </div>
            <div>
                <h4>Extended Session</h4>
                <p>$350</p>
                <img src="assets/images/home-images/funny-cat.jpg" alt="">
                <p>Great for larger groups or special occasions. Includes 2-3 hours of shooting time. Minimum of 30 high resolution edited photos.</p>
            </div> -->
        </div> 
    </div>
</div>
