<app-navbar></app-navbar>
    <div class="pricing">
        <div *ngFor = "let card of pricingData">
            <div class="pricing-container">
                <div class="pricing-title">
                    <p >{{card["title"]}}</p>
                </div>
                <div class="pricing-description">
                    <p>{{card["description"]}}</p>
                </div> 
                <div class = "pricing-image">
                    <img  src="../../assets/images/pricing-images/{{card['image']}}">
                </div>
            </div> 
        </div>
    </div>

