
.terms {
    background-color: rgb(40,40,40);
    height: calc(100% - 115px);
    width: 100%;
    display: flex;
}

.terms-img-div {
    width : 50%;
    height: 100%;
}

.terms-img-div > img {
    height : 100%;
    width : 100%;
    object-fit: cover;
}

.terms-left-text-container {
    width : 50%;
    height: calc(100% - 50px);
    padding : 20px 35px 50px 35px;
    overflow: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.terms-left-text-container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.terms-left-text-container > h2 {
    text-align: center;
    color: white;
    margin-top: 40px;
}

.terms-left-text-container > h3 {
    text-align: center;
    color: white;
    margin-top: 40px;
}

.terms-left-text-container > hr {
    margin-bottom: 10px;
}

.terms-left-text-container > p {
    color: white;
}

.terms-left-text-container > ul {
    color: white;
    margin-left: 20px;
}