<app-navbar></app-navbar>
<div class="terms">
    <div class="terms-left-text-container">
        <h2>Terms and Conditions</h2>
        <div class="hr-gradient"></div>

        <p>Welcome to Andrew Scott Photography (the "Website"). These terms and conditions govern your use of the Website; by using the Website, you accept these terms and conditions in full. If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this Website.</p>

        <h3>License to Use Website</h3>
        <div class="hr-gradient"></div>

        <p>Unless otherwise stated, Andrew Scott Photography and/or its licensors own the intellectual property rights in the website and material on the website. Subject to the license below, all these intellectual property rights are reserved.</p>

        <p>You may view, download for caching purposes only, and print pages from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.</p>

        <h3>Restrictions</h3>
        <div class="hr-gradient"></div>

        <p>You must not:</p>
        <ul>
            <li>Republish material from this website (including republication on another website);</li>
            <li>Sell, rent or sub-license material from the website;</li>
            <li>Show any material from the website in public;</li>
            <li>Reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;</li>
            <li>Edit or otherwise modify any material on the website; or</li>
            <li>Redistribute material from this website except for content specifically and expressly made available for redistribution.</li>
        </ul>

        <h3>Acceptable Use</h3>
        <div class="hr-gradient"></div>

        <p>You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.</p>
        <p>You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.</p>
        <p>You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to this website without Andrew Scott Photography's express written consent.</p>

        <h3>Copyright</h3>
        <div class="hr-gradient"></div>

        <p>Unless otherwise stated, Andrew Scott Photography owns the intellectual property rights in the website and material on the website. Subject to the license below, all these intellectual property rights are reserved.</p>
        <p>You may view, download for caching purposes only, and print pages from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.</p>

        <h3>Refund Policy</h3>
        <div class="hr-gradient"></div>

        <p>I strive to provide exceptional photography services, but I understand that sometimes unforeseen circumstances arise. <br>If the standard requirements on my end are not met, we offer a partial refund as follows:</p>
        
        <h3>Partial Refund Criteria</h3>
        <div class="hr-gradient"></div>
        <ul>
            <li>If I fail to meet the agreed-upon shooting time or deliver the minimum number of edited photos</li>
            <li>Contact me within 7 days of receiving your gallery if you believe you qualify for a partial refund.</li>
            <li>I will review the situation and assess whether the requirements were met.</li>
            <li>If eligible, I will process the partial refund promptly.</li>
            <li>I believe in transparency and fair business practices. Rest assured that I handle refund requests with professionalism and integrity.</li>
        </ul>

        <h3>Contact Information</h3>
        <div class="hr-gradient"></div>
        <p>If you have any questions about these terms and conditions, please contact us at [Your Contact Information].</p>

        <h3>Variation</h3>
        <div class="hr-gradient"></div>
        <p>Andrew Scott Photography may revise these terms and conditions from time-to-time. Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website. Please check this page regularly to ensure you are familiar with the current version.</p>

    </div>

    <div class="terms-img-div">
        <img src="assets/images/home-images/funny-cat.jpg" alt="">
    </div>
</div>
