
<app-navbar></app-navbar>
<div class="home">
    <div class="home-image-container">
        <img src="../../assets/images/home-images/eye-eye-captain.jpg">
    </div>
    <div class="home-text-container">
        <div>Offering Pro Bono and <p class="home-gold-text">High-Quality</p> Services</div>
        <input type="button" value="Pricing and Service Request" class="home-service-button">
        <div>
            <a href="terms">Terms and Conditions</a>
        </div>
    </div>

</div>
